body {
  background-image: url('../img/coolBg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container {
  text-align: center;
  border:3px lightsteelblue solid;
  background-color: rgba(142,227,230,0.6);
  width: 90%;
  max-width: 600px;
  border-radius: 15px;
  margin: 50px auto;
  padding: 15px;
}

h2 {
  display: inline;
}

#reset {
  display: block;
  width: 100px;
  margin: 10px auto;
}

#startPomo {
  margin: 15px;
}
